<table summary = "Restaurant form field">
  <tr>
    <td><%= f.hidden_field(:user_id, :value => session[:user_id]) %></td>
  </tr>
  <tr>
    <td><%= f.hidden_field(:restaurant_id, :value => @restaurant.id) %></td>
  </tr>
  <tr>
    <td><%= f.hidden_field(:city_id, :value => @city.id) %></td>
  </tr>
  <tr>
    <td><h3><%= f.label(:date_rated, "Date") %></h3></td>
    <td><%= f.date_select(:date_rated) %></td>
  </tr>

  <tr>
    <td><h3><%= f.label(:restaurant_rating) %><h3></td>
    <td>
    <table>
      <tr>
        <td><h3><%= f.label :restaurant_rating, "1", :value => 1 %></h3></td>
        <td><h3><%= f.label :restaurant_rating, "2", :value => 2 %></h3></td>
        <td><h3><%= f.label :restaurant_rating, "3", :value => 3 %></h3></td>
        <td><h3><%= f.label :restaurant_rating, "4", :value => 4 %></h3></td>
        <td><h3><%= f.label :restaurant_rating, "5", :value => 5 %></h3></td>
      </tr>
      <tr>
        <td><%= f.radio_button :restaurant_rating, 1 %></td>
        <td><%= f.radio_button :restaurant_rating, 2 %></td>
        <td><%= f.radio_button :restaurant_rating, 3 %></td>
        <td><%= f.radio_button :restaurant_rating, 4 %></td>
        <td><%= f.radio_button :restaurant_rating, 5 %></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td><h3><%= f.label(:restaurant_comment) %></h3></td>
    <td><%= f.text_area :restaurant_comment, cols: '50', rows: '10' %></td>
  </tr>
</table>
