<div class = 'main'>
  <h2>The Recently Reviewed</h2>
</div>

<div class = 'data_table'>
  <table>
    <% @ratings.each do |rating| %>
      <td class = 'rating_row'>
        <tr>
          <td colspan = '2'><%= link_to(rating.user.username, {:action => 'user_rating_list', :user_id => rating.user_id}) %> - <%= rating.date_rated.to_time.strftime("%B %d") %></td>
        </tr>
        <tr>
          <td colspan = '2'><%= render_stars(rating.restaurant_rating) %></td>
        </tr>
        <tr>
          <td class = 'rating_restaurant' rowspan = '2'><%= link_to(rating.restaurant.restaurant_name, {:action => 'restaurant_rating_list', :restaurant_id => rating.restaurant_id}) %></td>
          <td><%= rating.restaurant.city %></td>
        </tr>
        <tr>
          <td><%= rating.restaurant.neighborhood %></td>
        </tr>
        <tr>
          <td colspan = '2'><%= rating.restaurant_comment %></td>
        </tr>
        <% if current_user == rating.user %>
          <tr>
            <td colspan = '2'><%= link_to('Edit', {:action => 'edit', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %> - <%= link_to('Delete', {:action => 'delete', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %></td>
          </tr>
        <% end %>
      </td>
    <% end %>
  </table>
</div>
