<div class = 'main'>
  <h1>Ratings for <%= @restaurant.restaurant_name %></h1>
</div>

<div class = 'main'>
  <p>Average rating: <%= @restaurant.ratings.average('restaurant_rating') %></p>
</div>

<div class = 'main'>
  <table>
    <% @ratings.each do |rating| %>
      <td class = 'rating_row'>
        <tr>
          <th class = 'rating_user' colspan = '2'><%= link_to(rating.user.username, {:action => 'user_rating_list', :user_id => rating.user_id}) %></th>
        </tr>
        <tr>
          <td class = 'rating_rating'><%= rating.restaurant_rating %></td>
          <td><%= rating.restaurant_comment %></td>
        </tr>
        <tr>
          <td>
            <% if current_user == rating.user %>
              <%= link_to('Edit', {:action => 'edit', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %>
            <% end %>
          </td>
          <td>
            <% if current_user == rating.user %>
              <%= link_to('Delete', {:action => 'delete', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %>
            <% end %>
          </td>
        </tr>
      </td>
    <% end %>
  </table>
</div>
