<div class = 'main'>
  <h1>Ratings for <%= @restaurant.restaurant_name %></h1>
</div>

<div class = 'main'>
  <p>Average rating: <%= @restaurant.ratings.average('restaurant_rating') %></p>
</div>

<div class = 'main'>
  <table>
    <tr>
      <th class = 'column_header_left'>User</th>
      <th class = 'column_header_center'>Rating</th>
      <th class = 'column_header_left'>Comments</th>
      <th class = 'column_header_left' colspan="2">Actions</th>
    </th>
    <% @ratings.each do |rating| %>
    <tr>
      <td><%= link_to(rating.user.username, {:action => 'user_rating_list', :user_id => rating.user_id}) %></td>
      <td class = 'column_center'><%= rating.restaurant_rating %></td>
      <td><%= rating.restaurant_comment %></td>
      <td>
        <% if current_user == rating.user %>
          <%= link_to('Edit', {:action => 'edit', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %>
        <% end %>
      </td>
      <td>
        <% if current_user == rating.user %>
          <%= link_to('Delete', {:action => 'delete', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
