<div class = 'main'>
  <p>Ratings created by <%= @user.username%></p>
</div>

<div class = 'main'>
  <p>Average rating given: <%= @user.ratings.average('restaurant_rating') %></p>
</div>

<div class = 'main'>
  <table>
    <tr>
      <th class = 'column_header_center'>Date</th>
      <th class = 'column_header_left'>Restaurant</th>
      <th class = 'column_header_center'>Rating</th>
      <th class = 'column_header_center' colspan = '2'>Actions</th>
    </th>
    <% @ratings.each do |rating| %>
    <tr>
      <td class = 'column_center'><%= rating.date_rated.to_time.strftime("%B %d") %></td>
      <td><%= link_to(rating.restaurant.restaurant_name, {:action => 'restaurant_rating_list', :restaurant_id => rating.restaurant_id}) %></td>
      <td class = 'column_center'><%= rating.restaurant_rating %></td>
      <td>
        <% if current_user == rating.user %>
          <%= link_to('Edit', {:action => 'edit', :rating_id => rating.id}) %>
        <% end %>
      </td>
      <td>
        <% if current_user == rating.user %>
          <%= link_to('Delete', {:action => 'delete', :rating_id => rating.id}) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div class = 'main'>
  <%= link_to("Back to Users", {:controller => 'user', :action => 'index'}) %>
</div>
