<div class = 'header'>
  <h1>Ratings created by</h1>
</div>

<div class = 'header'>
  <h1><%= @user.username%></h1>
</div>

<div class = 'main'>
  <h3>Average rating given: <%= @user.ratings.average('restaurant_rating') %></h3>
</div>

<div class = 'main'>
  <%= link_to("Back to Users", {:controller => 'user', :action => 'index'}) %>
</div>


<div class = 'main_rating'>
  <table class = 'rating_table'>
    <% @ratings.each do |rating| %>
    <tr>
      <td>
        <table class = 'rating_row'>
          <tr>
            <td class = 'rating_user' colspan = '3'><%= rating.date_rated.to_time.strftime("%B %d") %></td>
          </tr>
          <tr>
            <td class = 'rating_rating' rowspan = '2'><%= rating.restaurant_rating %></td>
            <td class = 'rating_restaurant' colspan = '2'><%= link_to(rating.restaurant.restaurant_name, {:action => 'restaurant_rating_list', :restaurant_id => rating.restaurant_id}) %></td>
          </tr>
          <tr>
            <td colspan = '2'><%= rating.restaurant.city %> - <%= rating.restaurant.neighborhood %></td>
          </tr>
          <tr>
            <td colspan = '3'><%= rating.restaurant_comment %></td>
          </tr>
          <% if current_user == rating.user %>
            <tr>
              <td><%= link_to('Edit', {:action => 'edit', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %></td>
              <td><%= link_to('Delete', {:action => 'delete', :rating_id => rating.id, :restaurant_id => rating.restaurant_id}) %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <% end %>
  </table>
</div>
