<table summary = "Restaurant form field">
  <tr>
    <td><%= f.hidden_field(:city_id, :value => @city.id) %></td>
  </tr>
  <tr>
    <th><%= f.label(:restaurant_name, "Restaurant Name") %></th>
      <td><%= f.text_field(:restaurant_name) %></td>
    <th><%= f.label(:neighborhood, "Neighborhood") %></th>
      <td><%= f.text_field(:neighborhood) %></td>
  </tr>
</table>
