<table summary = "Restaurant form field">
  <tr>
    <th><%= f.label(:restaurant_name, "Restaurant Name") %></th>
      <td><%= f.text_field(:restaurant_name) %></td>
    <th><%= f.label(:city, "City") %></th>
      <td><%= f.text_field(:city) %></td>
    <th><%= f.label(:neighborhood, "Neighborhood") %></th>
      <td><%= f.text_field(:neighborhood) %></td>
  </tr>
</table>
