<table>
  <tr>
    <td>
      <div>
        <%= link_to("Home", {:controller => 'landing', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Rate", {:controller => 'city', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Friends", {:controller => 'user', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Explore", {:controller => 'rating', :action => 'city_explorer'}, :class => "home_link") %>
      </div>
    </td>
  </tr>
</table>

<h2>Select your restaurant</h2>

<div>
  <h3><%= link_to("New Restaurant", {:controller => 'restaurant', :action => 'new', :city_id => @city.id}) %></h3>
</div>

<div class = "user_list_table">
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to(restaurant.restaurant_name, {:controller => 'rating', :action => 'new', :restaurant_id => restaurant.id, :city_id => @city.id}, :class => 'landing_link') %></h3>
  <% end %>
</div>
