<div class = 'main'>
  <h1>Restaurant List</h1>
</div>

<div class = 'main'>
  <h3><%= link_to("New Restaurant", {:controller => 'restaurant', :action => 'new'}) %></h3>
</div>

<div class = 'main'>
  <table>
    <% @restaurants.each do |restaurant| %>
      <td class = 'rating_row'>
        <tr>
          <td colspand = '2'><%= render_stars(restaurant.ratings.average('restaurant_rating')) %></td>
        </tr>
        <tr>
          <td class = 'rating_restaurant' rowspan = '2'><%= link_to(restaurant.restaurant_name, {:controller => 'rating', :action => 'restaurant_rating_list', :restaurant_id => restaurant.id})%></th>
          <td><%= restaurant.city %></td>
        </tr>
        <tr>
          <td><%= restaurant.neighborhood %></td>
        </tr>
        <tr>
          <td colspan="2"><%= link_to('New Rating', {:controller => 'rating', :action => 'new', :restaurant_id => restaurant.id}) %></td>
        </tr>
      </td>
    <% end %>
  </table>
</div>
