<table>
  <tr>
    <td>
      <div>
        <%= link_to("Home", {:controller => 'landing', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Rate", {:controller => 'city', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Friends", {:controller => 'user', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Explore", {:controller => 'rating', :action => 'city_explorer'}, :class => "home_link") %>
      </div>
    </td>
  </tr>
</table>

<h2>Create Restaurant</h2>

<div>
  <%= form_for(:restaurant, :url => {:action => 'create'}) do |f| %>

  <table summary = "Restaurant form field">
    <tr>
      <td><%= f.hidden_field(:city_id, :value => @city.id) %></td>
    </tr>
    <tr>
      <th><h3><%= f.label(:restaurant_name, "Restaurant Name") %></h3></th>
        <td><%= f.text_field(:restaurant_name) %></td>
    </tr>
  </table>

  <div>
    <%= submit_tag('Create', :class => 'button') %>
  </div>

  <% end %>
</div>
