<table>
  <tr>
    <td>
      <div>
        <%= link_to("Home", {:controller => 'landing', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Rate", {:controller => 'city', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Friends", {:controller => 'user', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Explore", {:controller => 'rating', :action => 'city_explorer'}, :class => "home_link") %>
      </div>
    </td>
  </tr>
</table>

<h2>Delete City</h2>

<div>
  <%= form_for(:city, :url => {:action => 'destroty', :city_id => @city.id}) do |f| %>
  <p>Delete?</p>
  <%= submit_tag('Delete') %>
  <% end %>
</div>
