<table>
  <tr>
    <td>
      <div>
        <%= link_to("Home", {:controller => 'landing', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Rate", {:controller => 'city', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Friends", {:controller => 'user', :action => 'index'}, :class => "home_link") %>
      </div>
    </td>
    <td>
      <div>
        <%= link_to("Explore", {:controller => 'rating', :action => 'city_explorer'}, :class => "home_link") %>
      </div>
    </td>
  </tr>
</table>

<h2>Create City</h2>

<div>
  <%= form_for(:city, :url => {:action => 'create'}) do |f| %>
  <table summary = "City form field">
    <tr>
      <th><h3><%= f.label(:city_name, "City Name") %></h3></th>
        <td><%= f.text_field(:city_name) %></td>
    </tr>
  </table>

  <div>
    <%= submit_tag('Create', :class => 'button') %>
  </div>
  <% end %>
</div>
