<!DOCTYPE html>
<html>
<head>
  <title>Om Nom Nom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class = "menu">Menu</div>
<body>
  <div class = 'navigation'>
    <div class = "menu-close"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png"></div>
    <div class = 'nav-link'><%= link_to('Ratings', {:controller => 'rating', :action => 'index'}) %></div>
    <div class = 'nav-link'><%= link_to('Users', {:controller => 'user', :action => 'index'}) %></div>
    <div class = 'nav-link'><%= link_to('Restaurants', {:controller => 'restaurant', :action =>'index'}) %></div>
    <div class = 'nav-link'><%= link_to('Logout', {:controller => 'access', :action => 'logout'}) %></div>
  </div>

  <div class = "flex_column">
    <div class = "content">
      <%= yield %>
    </div>
  </div>

  <div class = 'footer'>
    <div class = 'footer-name'>
      <p>OM NOM NOM</p>
    </div>
  </div>

  <% if !flash[:notice].blank? %>
    <div class = 'notice'>
        <h2><%= flash[:notice] %><h2>
    </div>
  <% end %>

</body>
</html>
